

.image{
   
transform: translatey(0px);
-webkit-animation: float 3s ease-in-out infinite;
        animation: float 3s ease-in-out infinite;
}
.image1{
   
    transform: translatey(0px);
    -webkit-animation: float 5s ease-in-out infinite;
            animation: float 5s ease-in-out infinite;
    }
.image2{
   
 transform: translatey(0px);
 -webkit-animation: float 4s ease-in-out infinite;
 animation: float 4s ease-in-out infinite;
        }
.image4{
   
 transform: translatey(0px);
-webkit-animation: float 4s ease-in-out infinite;
 animation: float 3s ease-in-out infinite;
            }


@keyframes float {
    0% {
     
      transform: translatey(0px);
    }
    50% {
     
      transform: translatey(-10px);
    }
    100% {
     
      transform: translatey(0px);
    }
  }