
.job-list-container{
    /*	background-color: red;*/
        /*margin: 2em;
        padding: 3em;*/
    }
    
    /* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.header_main{
   
    /* backdrop-filter: blur(9px); */
	
    background-color: #d4d4d452;
    backdrop-filter: blur(22px);
    z-index: 3;
    
    text-align: center;
}
/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
 
  